@import url('https://fonts.googleapis.com/css2?family=Ingrid+Darling&family=Life+Savers&display=swap');


body{
    background-image: url('images/LIN\ BG.png');
    background-repeat: no-repeat;
    background-size: 100%;
}



#navbar{
    font-family: 'Life Savers', serif;
    width: 100%;
    font-size: 20px;
}

#nav-logo img{
    width: 76px;
}

#nav-pages{
    width: 500px;
}

#home{
    height: 80vh;
}

#home h1{
    font-family: 'Ingrid Darling', cursive;
    font-size: 200px;
    color: white;
    text-shadow: 0 0 50px white;
}

.dropdown a{
    text-decoration: none;
    color: black;
}