@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Ingrid+Darling&family=Life+Savers&display=swap');

body{
    background-image: url('images/bg 1.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    display: none;
}

/* INDEX PAGE CSS */
#navbar{
    font-family: 'Life Savers', serif;
    width: 100%;
    color: white;
    text-shadow: 0 0 10px white;
    margin-top: 30px;
}

#nav-logo img{
    width: 76px;
    -webkit-filter: drop-shadow(0px 0px 15px #fff);
    filter: drop-shadow(0px 0px 15px #fff);
}

#nav-logo img:hover{
    filter: brightness(50);
    -webkit-filter: drop-shadow(0px 0px 15px #fff);
    filter: drop-shadow(0px 0px 15px #fff);
}

#nav-pages{
    width: 500px;
}

#nav-pages a{
    text-decoration: none;
    color: white;
    font-size: 30px;
}

#nav-pages a h3{
    font-size: 30px;
}

#nav-pages a h3:hover{
    text-shadow: 0 0 20px white;
    color: rgb(219, 218, 216)
}

#home{
    height: 80vh;
}

#home h1{
    font-family: 'Ingrid Darling', cursive;
    font-size: 150px;
    color: white;
    text-shadow: 0 0 50px white;
    margin-bottom: 100px;
}

.dropdown a{
    text-decoration: none;
    color: white;
    text-shadow: 0 0 10px white;
}

.dropdown-menu{
    background-color: rgba(0, 0, 0, 0.9);  
    
    margin-left: -180px;
}

.dropdown-item:hover{
    text-shadow: 0 0 10px white;
    background-color: rgba(255, 255, 255, 0.38);
    color: rgb(219, 218, 216);
}

.dropdown-toggle:hover{
    -webkit-filter: drop-shadow(0px 0px 5px #fff);
    filter: drop-shadow(0px 0px 5px #fff);

    color: rgb(219, 218, 216);
}

/* INDEX PAGE CSS END */


/* ABOUT PAGE CSS */

#about {
    color:  white;
    font-family: 'EB Garamond', serif;
    margin-top: 50px;
}

#about h1{
    font-size: 90px;
    text-shadow: 0 0 50px white;
    margin-bottom:  30px;
}

#about p{
    font-size: 30px;
    margin-bottom: 50px;
    text-shadow: 0 0 10px white;
}


#gallery-about{
    margin-bottom: 50px;
}

#gallery-about .carousel-inner{
    border-radius: 50px;
    /* border: 1px solid white; */
    box-shadow: 0 0 10px white;
}

#gallery-about .carousel-caption{
    margin-bottom: 10px;
    font-family: 'Life Savers', serif;
    font-size: 20px;
    text-shadow: 0 0 10px white;
    /* background-color: rgba(0, 0, 0, 0.300); */
}

#gallery-about .carousel-caption h5{
    font-family: 'Life Savers', serif;
    font-size: 40px;
    text-shadow: 0 0 10px white;

    /* background-color: rgba(0, 0, 0, 0.300); */
}

#gallery-about .carousel-indicators li {
    display: inline-block;
    width: 20px;
    height: 10px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    border-radius: 10px;
    margin: 2px;
    position: relative;    
}

#gallery-about .carousel-indicators li.active {
    background: #fff;
    box-shadow: 0 0 10px white;
}

#gallery-about .carousel-item{
    position: relative;  
}



#gallery-about .carousel-item::after{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0), black);
    opacity: 0.8;
}

/* Contacts Page Start */
#socials{
    color: white;
    font-family: 'EB Garamond', serif;
    height: 100%;
    margin-top: 100px;
}

#socials a {
    text-decoration: none;
    color: white;
}

#socials a:hover{
    text-shadow: 0 0 10px white;
}

#socials img{
    width: 80px;
    margin-right: 20px;
    -webkit-filter: drop-shadow(0px 0px 10px #ffffff3d);
    filter: drop-shadow(0px 0px 10px #ffffff6a);
}

#connect h1{
    font-size: 60px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.619);
}

#contact h1{
    font-size: 60px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.555);
}

#copyright{
    color: white;
    margin-top: 80px;
}

#copyright h1{
    font-family: 'Ingrid Darling', cursive;
    font-size: 80px;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.496);
}

#copyright h2{
    margin-top: -20px;
    font-family: 'EB Garamond', serif;
    font-size: 20px;
}
/* Contacts Page End */

/* Gallery Page Start */
#gallery{
    margin-top: 40px;
    color:  white;
}

.gallery-row h1{   
    font-family: 'EB Garamond', serif;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    margin-bottom: 20px;
    width: 100%;
}

.gallery-row{
    margin-top: 0px;
}

#gallery > h1{
    font-family: 'Life Savers', serif;
    font-size: 60px;
    text-shadow: 0 0 10px rgb(255, 255, 255);
    margin-bottom: 50px;
}


/* Gallery Page End */

/* Statistics Start */
#statistics {
    margin-top: 100px;
    
    border: 2px solid rgba(255, 255, 255, 0.605);
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.171) inset;
    border-radius: 20px;

    color: white;
    font-family: 'Life Savers', serif;
    padding: 30px;
}

#statistics h1{
    text-shadow: 0 0 10px white;
}

.small-graph{
    border-radius: 15px;
    border: 1px solid white;
    padding: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.small-graph > :nth-child(2){
    padding-right: 10px;
}

.small-graph h3{
    margin: 0;
}
/* Statistics End */